{% from 'bootstrap5/nav.html' import render_nav_item %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for("main.index") }}">Benchmark</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarToggler"
                aria-controls="navbarToggler"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_authenticated %}
                    <li>{{ render_nav_item('main.index', "on " + current_user.benchmark.name) }}</li>
                {% endif %}
                <li>{{ render_nav_item('results.select', 'Results') }}</li>
                <li>{{ render_nav_item('results.datasets', 'Datasets') }}</li>
                <li>{{ render_nav_item('main.config', 'Config') }}</li>
            </ul>
            <div class="navbar-nav justify-content-end">
                {% if current_user.is_authenticated %}
                    <img src='{{ current_user.avatar(40) }}' height=35 alt="gravatar" />
                    {{ render_nav_item('main.logout',
                                        current_user.username + '(Logout) ')|safe }}
                {% else %}
                    {{ render_nav_item('main.login', 'Login') }}
                {% endif %}
            </div>
        </div>
    </div>
</nav>
